page-login {
    // .contentBackground {
    //     background-image: url("../../assets/logoImgs/logo8.png");
        .card-background {
            background-color: rgb(235, 231, 126);
        }
        .card-header-md {
            margin-left: 100px;
            font-size: 24px
        }
      

}
